/*
!package.json
!mods.json
!.gitignore
!ccloader/
!assets/
assets/*
!assets/mods/
assets/mods/*
!assets/mods/simplify/
!assets/mods/ccloader-version-display/
!assets/mods/ccmodmanager.ccmod
!assets/mods/positional-audio/
!assets/mods/lighting-wasm/
!assets/mods/dev-overlay/
!assets/mods/real-shadows/
!docs/
!assets/mods/wet-floor-reflection/
